@keyframes slideInTitle {
    from{
        transform: translateX(-50px);
        opacity: 0.001;
    }
    
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/*Applying animations to different elements*/


h1{
    animation: slideInTitle 2s ease-in 0s 1 normal none;
}

